<!DOCTYPE html>
<html>
  <head>
    <title>Skarabeus</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a href="/" class="navbar-brand"><i class="fa fa-bug"></i> Skarabeus</a>  HTML viisil linkide tegemine-->
          <!-- %= link_to "/", class: "navbar-brand" do %>     Rails viisil linkide tegemine-->
          <%= link_to root_path, class: "navbar-brand" do %>   <!--prefiksiga link 'root_path', vt. 'root_url'-->
            <i class="fa fa-bug"></i>
            Skarabeus
          <% end %>
        </div>
        
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="/meist">Meist</a></li>    '/meist' on routes.rb failis 'meist' lehe asukoht -->
            <!-- <li><%= link_to "Meist", "/meist" %></li>   Rails viisil linkide tegemine -->
            <li><%= link_to "Meist", meist_path %></li> <!-- prefiksiga link 'meist_path'  vt. 'meist_url'-->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    

    <%= yield %>

  </body>
</html>
